@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pastebin Clone</h1>
    <p>This is a representation of the website <a href="https://pastebin.com">Pastebin</a>.</p>
</div>
